body {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 18px;
  font-family: barlow;
  color: rgb(41, 40, 40);
  line-height: 1.5rem;
  letter-spacing: 0.08rem;
  overflow-x: hidden;
}

main {
  padding-left: 20px;
  padding-right: 20px;
}
figure {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-top: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 2.5rem;
}

h1,
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

/*utility classes*/
.no-margin--top {
  margin-top: 0;
}
.no-margin--bottom {
  margin-bottom: 0;
}

article {
  /*background-color: #fafafa9f;*/
  background-color: lightgray;
}

/* Top anvigation*/
.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: hsla(0, 100%, 94%, 0.195);*/
  margin-bottom: 3rem;
  flex-direction: column;
  padding: 1rem;
}
.top-navigation-logo {
  margin: 0.5rem;
  padding-bottom: 0.5rem;
}
.top-navigation .top-navigation-items {
  display: flex;
  gap: 1.6rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.top-navigation .top-navigation-items .active {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}
.top-navigation a {
  text-decoration: none;
  color: rgb(41, 40, 40);
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.container-img figure {
  flex-direction: row;
}

.container-img figure img {
  width: 100%;
}

/* Info about*/
.info-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: 1rem;
}

.info-block figure {
  display: flex;
  justify-content: center;
  margin: 0;
}

.info-block-image {
  border-radius: 10px;
  width: 100%;
  align-items: center;
  object-fit: contain;
}

/* Contct page*/
/* Form*/
.form-wrapper {
  background-color: #84986b38;
  padding: 5rem;
  border-radius: 3px;
  max-width: 800px;
}
input {
  border-radius: 3px;
  border-color: grey;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}
textarea {
  border-radius: 3px;
  border-color: grey;
  width: 100%;
  padding: 0.8rem;
}
.field-first-name {
  margin-bottom: 0.8rem;
}
.field-last-name {
  margin-bottom: 0.8rem;
}
.field-email {
  margin-bottom: 1rem;
}
.send-button {
  padding: 0.8rem 4.5rem 0.8rem 4.5rem;
  border-radius: 0.3rem;
  border: 2rem;
  background-color: rgb(223, 179, 194);
  max-width: 24rem;
  font-size: larger;
  font-family: barlow, sans-serif;
}
.send-button:active {
  background-color: rgb(187, 56, 98);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container-socialmedia {
  display: flex;
}
.container-socialmedia figure {
  flex-direction: row;
  padding: 1rem;
}
.container-socialmedia img {
  max-width: 2.5rem;
}
/*Footer*/
.bottom-navigation {
  width: auto;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1 rem solid grey;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5rem;
}
.bottom-navigation a:link {
  text-decoration: none;
  color: black;
  padding-right: 3.5rem;
}
.bottom-navigation a:hover {
  text-decoration: underline;
  transition: 0.7s;
  color: green;
}
.bottom-navigation a:visited {
  text-decoration: none;
  color: black;
}

/* Desktop*/
@media only screen and (min-width: 768px) {
  .top-navigation {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3rem;
  }
  .top-navigation a {
    padding-right: 3.5rem;
  }
  .top-navigation a:hover {
    transition: 0.7s;
    color: green;
    font-weight: bolder;
    text-decoration: underline;
  }

  .top-navigation .top-navigation-items {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    gap: 0;
  }
  .info-block {
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
  }
  .info-block-image {
    width: 450px;
    max-width: 600px;
  }
  .info-block-text {
    text-align: left;
    max-width: 100%;
    padding: 0rem 3rem 1rem 2.5rem;
  }
  .info-block--one-column {
    flex-direction: row;
  }
  .info-block--one-column .info-block-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .container-img figure img {
    width: 350px;
  }

  .flex-container-footer {
    display: flex;
  }
  .bottom-navigation {
    flex-direction: row;
    font-size: 1.2rem;
    gap: 20rem;
    justify-content: space-evenly;
    height: 15rem;
    width: auto;
  }
  .bottom-navigation a {
    padding: 0 3rem 0 3rem;
  }

  /*form*/
  .send-button {
    cursor: pointer;
    box-shadow: 0 0.2rem #999;
  }
  .send-button:hover {
    background-color: rgb(143, 75, 97);
    color: aliceblue;
    font-weight: bolder;
  }
  .send-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background-color: rgb(187, 56, 98);
  }
  .continer-social-media
  /* About me*/

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
  }
  .grid-items-container {
    padding: 1rem;
  }
  .grid-items-passions {
    margin: 2rem;
  }
  /* For desktop: */
  .tag {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
    height: 30px;
    width: 50px;
    display: inline;
    padding: 10px;
    font-weight: bold;
  }

  /*
.information-about {
  display: flex;
  background-color: rgb(195, 195, 235);
}
.test1 {
  flex-direction: column;
}
.main-h1 {
  flex-direction: column;
}

.flex-container {
  display: flex;
  background-color: rgb(153, 193, 234);
}

.flex-container > section {
  background-color: #f1f1f1;

  font-size: 30px;
}
.flex-container img {
  max-width: 60%;
}
.flex-container-footer {
  display: flex;
}
.bottom-navigation-section {
  flex-direction: row;
  padding: 3rem;
  margin: 3rem;
  background-color: #f1f1f1;
  font-size: 30px;
  gap: 10rem;
}


body {
  max-width: 1300px;
  margin: 0 auto;
  font-size: 18px;
  font-family: barlow;
  color: rgb(41, 40, 40);
  line-height: 1.5rem;
  letter-spacing: 0.08rem;
}

main {
  padding-left: 30px;
  padding-right: 30px;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcyan;
  margin-bottom: 3rem;
}
.top-navigation .top-navigation-items {
  display: flex;
  height: 4rem;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.info-block {
  background-color: aqua;
  display: flex;
  background-color: ghostwhite;
  padding: 1rem;
}

.info-block-image {
  width: 200px;
  border-radius: 10px;
}









*/
}
